<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

In [ ]:
# https://www.kaggle.com/prateekmaj21/tf-idf-in-python

In [1]:
text=["kolkata big city india trade","mumbai financial capital india","delhi capital india","kolkata capital colonial times",
     "bangalore tech hub india software","mumbai hub trade commerce stock exchange","kolkata victoria memorial","delhi india gate",
      "mumbai gate way india trade business","delhi red fort india","kolkata metro oldest india",
      "delhi metro largest metro network india"]

In [2]:
import pandas as pd
import numpy as np 
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.feature_extraction.text import TfidfVectorizer

In [3]:
#using the count vectorizer
count = CountVectorizer()
word_count=count.fit_transform(text)
print(word_count)

  (0, 14)	1
  (0, 1)	1
  (0, 4)	1
  (0, 13)	1
  (0, 26)	1
  (1, 13)	1
  (1, 18)	1
  (1, 9)	1
  (1, 3)	1
  (2, 13)	1
  (2, 3)	1
  (2, 7)	1
  (3, 14)	1
  (3, 3)	1
  (3, 5)	1
  (3, 25)	1
  (4, 13)	1
  (4, 0)	1
  (4, 24)	1
  (4, 12)	1
  (4, 22)	1
  (5, 26)	1
  (5, 18)	1
  (5, 12)	1
  (5, 6)	1
  :	:
  (6, 14)	1
  (6, 27)	1
  (6, 16)	1
  (7, 13)	1
  (7, 7)	1
  (7, 11)	1
  (8, 13)	1
  (8, 26)	1
  (8, 18)	1
  (8, 11)	1
  (8, 28)	1
  (8, 2)	1
  (9, 13)	1
  (9, 7)	1
  (9, 21)	1
  (9, 10)	1
  (10, 14)	1
  (10, 13)	1
  (10, 17)	1
  (10, 20)	1
  (11, 13)	1
  (11, 7)	1
  (11, 17)	2
  (11, 15)	1
  (11, 19)	1

In [4]:
print(word_count.toarray())

[[0 1 0 0 1 0 0 0 0 0 0 0 0 1 1 0 0 0 0 0 0 0 0 0 0 0 1 0 0]
 [0 0 0 1 0 0 0 0 0 1 0 0 0 1 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 1 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 1 0 1 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 1 0 0 0]
 [1 0 0 0 0 0 0 0 0 0 0 0 1 1 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0]
 [0 0 0 0 0 0 1 0 1 0 0 0 1 0 0 0 0 0 1 0 0 0 0 1 0 0 1 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0 0 0 0 1 0]
 [0 0 0 0 0 0 0 1 0 0 0 1 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]
 [0 0 1 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 1 0 0 0 0 0 0 0 1 0 1]
 [0 0 0 0 0 0 0 1 0 0 1 0 0 1 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 0 0 1 0 0 1 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 1 0 0 0 0 0 1 0 1 0 2 0 1 0 0 0 0 0 0 0 0 0]]

In [9]:
tfidf_transformer=TfidfTransformer(smooth_idf=True,use_idf=True)
tfidf_transformer.fit(word_count)
df_idf = pd.DataFrame(tfidf_transformer.idf_, index=count.get_feature_names(),columns=["idf_weights"])

In [10]:
#inverse document frequency
df_idf.sort_values(by=['idf_weights'])

           idf_weights
india         1.262364
kolkata       1.955511
delhi         1.955511
trade         2.178655
capital       2.178655
mumbai        2.178655
gate          2.466337
hub           2.466337
metro         2.466337
times         2.871802
tech          2.871802
stock         2.871802
software      2.871802
red           2.871802
oldest        2.871802
network       2.871802
bangalore     2.871802
largest       2.871802
victoria      2.871802
fort          2.871802
financial     2.871802
exchange      2.871802
commerce      2.871802
colonial      2.871802
city          2.871802
business      2.871802
big           2.871802
memorial      2.871802
way           2.871802

In [11]:
#tfidf
tf_idf_vector=tfidf_transformer.transform(word_count)
feature_names = count.get_feature_names()
first_document_vector=tf_idf_vector[1]
df_tfifd= pd.DataFrame(first_document_vector.T.todense(), index=feature_names, columns=["tfidf"])
df_tfifd.sort_values(by=["tfidf"],ascending=False)

              tfidf
financial  0.653123
capital    0.495483
mumbai     0.495483
india      0.287095
bangalore  0.000000
memorial   0.000000
victoria   0.000000
trade      0.000000
times      0.000000
tech       0.000000
stock      0.000000
software   0.000000
red        0.000000
oldest     0.000000
network    0.000000
metro      0.000000
kolkata    0.000000
largest    0.000000
big        0.000000
hub        0.000000
gate       0.000000
fort       0.000000
exchange   0.000000
delhi      0.000000
commerce   0.000000
colonial   0.000000
city       0.000000
business   0.000000
way        0.000000

Задание 1. Реализовать tfidf датасета

In [13]:
# выгружаем датасет:
# !wget https://www.dropbox.com/s/obaitrix9jyu84r/quora.txt?dl=1 -O ./quora.txt -nc
data = list(open("./quora.txt", encoding="utf-8"))
text =data[:100]

In [14]:
count = CountVectorizer()
word_count=count.fit_transform(text)
print(word_count)

tfidf_transformer=TfidfTransformer(smooth_idf=True,use_idf=True)
tfidf_transformer.fit(word_count)

df_idf=pd.DataFrame(tfidf_transformer.idf_,index=count.get_feature_names,columns=['idf_weights'])

df_idf.nort_values(by=['idf_weights'])

tf_idf_vector=tfidf_transformer.transform(word_count)
feature_names=count.get_feature_names()
fist_document_vector=tf_idf_vector[1]
df_tfifd=pd.DataFrame(first_document_vector.T.todense(),index=feature_names,columns=['df_idf'])
df_tfifd=sort_values(by='tfifd',ascending=False)

  (0, 78)	1
  (0, 180)	1
  (0, 49)	1
  (0, 500)	2
  (0, 285)	1
  (0, 153)	1
  (0, 151)	1
  (0, 441)	1
  (0, 390)	1
  (0, 227)	1
  (0, 340)	1
  (0, 28)	1
  (0, 194)	1
  (0, 48)	1
  (1, 489)	1
  (1, 35)	1
  (1, 404)	1
  (1, 484)	1
  (1, 445)	1
  (1, 321)	1
  (1, 161)	1
  (1, 170)	1
  (1, 17)	1
  (2, 494)	2
  (2, 488)	1
  :	:
  (98, 23)	1
  (98, 34)	1
  (98, 149)	1
  (98, 188)	1
  (98, 216)	1
  (98, 367)	1
  (98, 30)	1
  (98, 139)	1
  (98, 209)	1
  (98, 414)	1
  (98, 107)	1
  (98, 111)	1
  (98, 164)	1
  (98, 76)	1
  (98, 368)	1
  (98, 7)	1
  (99, 227)	1
  (99, 489)	1
  (99, 434)	1
  (99, 305)	1
  (99, 230)	1
  (99, 288)	1
  (99, 432)	1
  (99, 74)	1
  (99, 89)	1

TypeError: 'method' object is not iterable

Задание 2 (дополнительно). 
Реализовать TFIDF на следюущем датасете по токсику
https://www.kaggle.com/datasets/blackmoon/russian-language-toxic-comments

Дубликат файла: https://cloud.mail.ru/public/Z4L3/vB8GcgTtK